body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF8DC;
}

.loginContainer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.loginContainer form {
    background: #f8f8f6;
    max-width: 500px;
    max-height: 420px;
    margin: 0px auto;
    box-shadow: 0 0 15px #908f8f;
    border-radius: 2px;
    display: block;
    padding-bottom: 30px;
}

.loginTitle {
    background-color: #5ca107;
    width: 100%;
    height: 14.5%;
    position: relative;
    text-align: center;
}

.loginTitle h2 {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 33px;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.loginData {
    margin-top: -30px;
}

.loginData input{
    background:#f8f8f6;
    border: 1.5px solid #bebebe;
    font-size: 13.5px;
    padding: 12.8px 8px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 85%;
    outline: none;
    margin: 0 auto 0 auto;
    color: #626262;
}

.loginData ::placeholder {
    color: rgb(172, 172, 170);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}


.loginData label {
    color: rgb(113, 113, 113);
    font-size: 16px;
    display: inline-block;
    padding: 4px 37px;
    font-weight: 400;
    background-color: rgba(178, 173, 173, 0);
    padding-top: 22px;
}

.loginData input:hover,
.loginData input:focus{
    border: 3px solid #b6e978;

}

.loginData i {
    margin-left: 430px;
    margin-top: -28px;
    color: #b5b5b5;
    position: absolute;
}

.loginData .fa-2x {
    font-size: 13px;
}

.loginContainer button {
    background-color: #5ca107;
    box-shadow: 0 3px 0 0 darken;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 19px;
    line-height: 25.6px;
    margin: 40px 0px 30px 0px;
    outline: none;
    padding: 15px 0 15px;
    text-shadow: 0 1px #5ca107;
    text-align: center;
    font-weight: bold;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.loginContainer button:hover {
    background: #4b8405;
    text-shadow: 0 1px 3px darken;
}


.loginData input.ng-invalid.ng-touched {
    border: rgb(238, 126, 126) 1px solid;
}


.loginData small {
    color: rgb(238, 126, 126);
    margin-left: 40px;
    font-size: 12px;
    position: absolute;
}


.loginContainer .BtnInvalid{
    border: 1.5px solid red;
}

