body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF8DC;
    padding-top: 220px;
    padding-bottom: 180px;
    text-align: center;
    position: relative;
}

.PriceResult {
    text-align: center;
    position: absolute;
    left: 50%;
    padding-bottom: 135px;
    transform: translate(-50%, -50%);
}

.PriceResult h3 {
    text-align: center;
    font-size: 38px;
    display: inline;
}

.PriceResult p {
    text-align: center;
    font-size: 32px;
    display: inline;
    
}

.veg {
    display: block;
}

.veg img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
